@font-face {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Times-New-Roman-regular/Times-New-Roman-regular.eot');
  src: url('../fonts/Times-New-Roman-regular/Times-New-Roman-regular.eot?#iefix') format('embedded-opentype'),
       local('Times New Roman'),
       local('Times-New-Roman-regular'),
       url('../fontsTimes-New-Roman-regular/Times-New-Roman-regular.woff2') format('woff2'),
       url('../fonts/Times-New-Roman-regular/Times-New-Roman-regular.woff') format('woff'),
       url('../fonts/Times-New-Roman-regular/Times-New-Roman-regular.ttf') format('truetype'),
       url('../fontsTimes-New-Roman-regular/Times-New-Roman-regular.svg#TimesNewRoman') format('svg');
}

@font-face {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Times-New-Roman-700/Times-New-Roman-700.eot');
  src: url('../fonts/Times-New-Roman-700/Times-New-Roman-700.eot?#iefix') format('embedded-opentype'),
       local('Times New Roman Bold'),
       local('Times-New-Roman-700'),
       url('../fonts/Times-New-Roman-700/Times-New-Roman-700.woff2') format('woff2'),
       url('../fonts/Times-New-Roman-700/Times-New-Roman-700.woff') format('woff'),
       url('../fonts/Times-New-Roman-700/Times-New-Roman-700.ttf') format('truetype'),
       url('../fonts/Times-New-Roman-700/Times-New-Roman-700.svg#NTimesNewRoman') format('svg');
}

@font-face {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Times-New-Roman-italic/Times-New-Roman.eot');
  src: url('../fonts/Times-New-Roman-italic/Times-New-Roman-italic.eot?#iefix') format('embedded-opentype'),
       local('Times New Roman Italic'),
       local('Times-New-Roman-italic'),
       url('../fonts/Times-New-Romanitalic/Times-New-Roman-italic.woff2') format('woff2'),
       url('../fonts/Times-New-Roman-italic/Times-New-Roman-italic.woff') format('woff'),
       url('../fonts/Times-New-Roman-italic/Times-New-Roman-italic.ttf') format('truetype'),
       url('../fonts/Times-New-Roman-italic/Times-New-Roman-italic.svg#TimesNewRoman') format('svg');
}

@font-face {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Times-New-Roman-700italic/Times-New-Roman-700italic.eot');
  src: url('../fonts/Times-New-Roman-700italic/Times-New-Roman-700italic.eot?#iefix') format('embedded-opentype'),
       local('Times New Roman Bold Italic'),
       local('Times-New-Roman-700italic'),
       url('../fonts/Times-New-Roman-700italic/Times-New-Roman700italic.woff2') format('woff2'),
       url('../fonts/Times-New-Roman-700italic/Times-New-Roman700italic.woff') format('woff'),
       url('../fonts/Times-New-Roman-700italic/Times-New-Roman700italic.ttf') format('truetype'),
       url('../fonts/Times-New-Roman-700italic/Times-New-Roman-700italic.svg#TimesNewRoman') format('svg');
}
